body {
    background-image: url(../Fundo.jpg) ;
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'inter' , sans-serif;
    line-height: 160%;
}
